html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 20px;
  height: calc(100vh - 100px);
  position: relative; /* Keeps the container in a fixed position */
  overflow: auto; /* Adds scroll if content overflows */
}

.CodeMirror {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 100%; /* Full height of the container */
}

footer {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.header {
  background-color: var(--ctp-latte-sky);
  color: var(--ctp-latte-overlay0);
}

.vim-info-container {
  display: flex;
  align-items: center;
  width: 150px;
}

.vim-mode {
  font-size: 12px;
  padding: 5px;
  margin-right: 5px;
  width: 88px;
  white-space: nowrap;
}

/* Style for the vim mode */
.vim-mode.normal {
  background-color: #40a02b;
  color: white;
}

.vim-mode.insert {
  background-color: #1e66f5;
  color: white;
}

.vim-mode.visual {
  background-color: #fe640b;
  color: white;
}

.vim-mode.visual-line {
  background-color: #8839ef;
  color: white;
}

.vim-mode.unknown {
  background-color: #dd7878;
  color: white;
}

/* Status container */
#status-container {
  width: 200px;
  display: inline-block;
  white-space: nowrap;
}

#status {
  font-size: 12px;
  padding: 5px;
  margin-right: 5px;
  white-space: nowrap;
  display: inline-block;
}

.isError {
  background-color: #e78284;
  color: #ffffff;
}

.noChanges {
  background-color: #e5c890;
  color: #ffffff;
}
