body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #cdd6f4;
  background:  #303446;
}

.header {
  background-color: #04a5e5;
  color: v #9ca0b0;
}

.container {
  margin: 20px;
  position: relative;
}

.CodeMirror {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 80vh;
}

footer {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vim-info-container {
  display: flex;
  align-items: center;
  width: 150px;
}

.vim-mode {
  font-size: 12px;
  padding: 5px;
  margin-right: 5px;
  width: 54px;
  white-space: nowrap;
}

/* Style for the vim mode */
.normal {
  background-color: #40a02b;
  color: white;
}

.insert {
  background-color: #1e66f5;
  color: white;
}

.visual {
  background-color: #fe640b;
  color: white;
}

.visual-line {
  background-color: #8839ef;
  color: white;
}

.unknown {
  background-color: #dd7878;
  color: white;
}

/* Status container */
#status-container {
  width: 200px;
  display: inline-block;
  white-space: nowrap;
}

#status {
  font-size: 12px;
  padding: 5px;
  margin-right: 5px;
  white-space: nowrap;
  display: inline-block;
}

.isError {
  background-color: #e78284;
  color: #ffffff;
}

.noChanges {
  background-color: #e5c890;
  color: #ffffff;
}
