html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.title {
  margin-left: 20px;
}

.container {
  height: calc(100vh - 140px);
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  overflow: auto;
}

.CodeMirror {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  flex-grow: 1; /* Allow the CodeMirror editor to grow and fill the remaining space */
  overflow: auto; /* Add scroll if content overflows */
}

.cm-scroller {
  overflow: auto;
}

footer {
  font-size: 13px;
  margin-top: 6px;
  margin-left: 20px;
  display: flex;
  position: relative; /* Change to absolute */
  z-index: 10;
}

.header {
  background-color: var(--ctp-latte-sky);
  color: var(--ctp-latte-overlay0);
}

.vim-info-container {
  display: flex;
  align-items: center;
  width: auto; /* Remove fixed width */
}

.vim-mode {
  font-size: 12px;
  padding: 5px;
  margin-right: 5px;
  width: 88px;
  white-space: nowrap;
}

/* Style for the vim mode */
.vim-mode.normal {
  background-color: #40a02b;
  color: white;
}

.vim-mode.insert {
  background-color: #1e66f5;
  color: white;
}

.vim-mode.visual {
  background-color: #fe640b;
  color: white;
}

.vim-mode.visual-line {
  background-color: #8839ef;
  color: white;
}

.vim-mode.unknown {
  background-color: #dd7878;
  color: white;
}

/* Status container */
#status-container {
  display: inline-block;
  white-space: nowrap;
}

#status {
  font-size: 12px;
  padding: 5px;
  margin-left: 2px; /* Use margin-left to create space between elements */
  white-space: nowrap;
  display: inline-block;
}

.isError {
  background-color: #e78284;
  color: #ffffff;
}

.noChanges {
  background-color: #e5c890;
  color: #ffffff;
}
